@font-face {
  font-family: "DaxlinePro";
  src: url("DaxlinePro-Black.eot");
  src: local("DaxlinePro-Black"),
    url("DaxlinePro-Black.eot?#iefix") format("embedded-opentype"),
    url("DaxlinePro-Black.woff2") format("woff2"),
    url("DaxlinePro-Black.woff") format("woff"),
    url("DaxlinePro-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "DaxlinePro";
  src: url("DaxlinePro-Light.eot");
  src: local("DaxlinePro-Light"),
    url("DaxlinePro-Light.eot?#iefix") format("embedded-opentype"),
    url("DaxlinePro-Light.woff2") format("woff2"),
    url("DaxlinePro-Light.woff") format("woff"),
    url("DaxlinePro-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "DaxlinePro";
  src: url("DaxlinePro-Medium.eot");
  src: local("DaxlinePro-Medium"),
    url("DaxlinePro-Medium.eot?#iefix") format("embedded-opentype"),
    url("DaxlinePro-Medium.woff2") format("woff2"),
    url("DaxlinePro-Medium.woff") format("woff"),
    url("DaxlinePro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
