@import "./../../../assets/scss/colors";
@import "./../button/button.scss";

.button {
  @extend .button;

  &:active {
    border-style: none;
  }
}
.positionRelative {
  position: relative;
}

.expandedButton {
  width: 272px;
  transition: width 2s;
  transition-timing-function: linear;
}

.panelExpanded {
  background: $navyBlue;
  padding: 24px 30px 30px 38px;
  font-size: 14px;
  font-weight: normal;
  width: 204px;
  margin: -2px 0 0 0;
  border-radius: 0 0 5px 5px;
  position: absolute;
  top: 41px;
  left: 0;
  z-index: 4;
}

.arrow {
  border: solid $lightGray1_rgba;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 5px;
  vertical-align: middle;
  margin: -10px 14px 0 0;

  &.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }

  &.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    margin-top: 5px;
  }

  &.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
  }

  &.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
  }
}
