@import "./../../../assets/scss/colors";

.h4,
h4 {
  font-size: 21px;
  font-style: normal;
  color: $lightGray2;
  line-height: 24px;
  text-transform: uppercase;
  font-family: "DaxlinePro";
  font-weight: 900;
  font-style: normal;
  margin: 43px 0 25px;
}
